@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  @include m.mq("tablet") {
    flex-wrap: nowrap;
    padding: 0;
  }

  @include m.mq("desktop") {
    flex-wrap: nowrap;
    padding: v.$mg-40 0;
  }
}

.header__logo-link {
  padding: 1.4rem;

  @include m.mq("tablet") {
    margin: 1rem 2.6rem;
  }

  @include m.mq("desktop") {
    margin: 0 5rem;
  }
}

.header__logo {
  width: 4rem;
  height: 4rem;

  @include m.mq("tablet") {
    object-fit: contain;
    width: 4.8rem;
    height: 4.8rem;
  }

  @include m.mq("desktop") {
    object-fit: cover;
  }
}

.header__btn {
  margin: 0;
  border: none;
  background-color: unset;
  padding: 1.4rem;

  @include m.mq("tablet") {
    display: none;
  }
}
