<header class="header">
  <a class="header__logo-link">
    <img
      src="assets/images/shared/logo.svg"
      alt="Logo space tourism"
      width="50"
      height="50"
      class="header__logo"
    />
  </a>

  <button
    class="header__btn menu-btn"
    [ngClass]="{ 'display-none': isMenuDisplayed() }"
    (click)="openMenu()"
  >
    <img
      src="assets/images/shared/icon-hamburger.svg"
      alt="Show menu"
      width="50"
      height="50"
      class="header__btn-img menu-btn-img"
    />
  </button>

  <app-menu [display]="isMenuDisplayed" />
</header>
