@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

:host {
  display: block;
}

.crew-member {
  padding: v.$mg-24;

  @include m.mq("tablet") {
    padding: 4rem 4rem 0;
  }

  @include m.mq("desktop") {
    padding: 0.8rem 17rem 4.8rem;
  }
}

.crew__title {
  text-align: center;
  text-transform: uppercase;
  color: v.$white;
  margin: 0 0 v.$mg-24;

  @include m.mq("tablet") {
    text-align: start;
    font-size: v.$fs-20;
  }

  @include m.mq("desktop") {
    font-size: 2.8rem;
  }
}

.crew__title--num {
  margin-right: v.$mg-24;
  font-weight: bold;
  opacity: v.$number-op;
}

.crew__crew {
  display: flex;
  flex-direction: column;
  gap: v.$mg-32;

  @include m.mq("desktop") {
    flex-direction: row;
  }
}

.crew__info {
  margin: v.$mg-40 0 0;

  @include m.mq("tablet") {
    padding: 0 9.8rem;
  }

  @include m.mq("desktop") {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 3rem;
    align-items: center;
    margin: 0;
    padding: 0 0 1.8rem;
  }
}

.crew__role {
  text-transform: uppercase;
  text-align: center;
  color: v.$white;
  opacity: v.$number-op-50;
  margin: 0;
  @include m.mq("desktop") {
    text-align: start;
  }
}

.crew__name {
  text-transform: uppercase;
  text-align: center;
  color: v.$white;
  margin: v.$mg-5 0 0;

  @include m.mq("desktop") {
    text-align: start;
  }
}

.crew__bio {
  text-align: center;
  text-wrap: balance;
  color: v.$light-blue;
  margin: v.$mg-24 0 v.$mg-80;

  @include m.mq("tablet") {
    margin-bottom: 5rem;
  }

  @include m.mq("desktop") {
    text-align: start;
  }
}

.picture {
  @include m.mq("desktop") {
    flex: 1;
  }
}

.crew__image {
  object-fit: contain;
  height: 35rem;
  width: 100%;
  margin: 0 auto;

  @include m.mq("tablet") {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50rem;
  }

  @include m.mq("desktop") {
    position: static;
    // object-fit: cover;
    object-fit: contain;
    width: 54rem;
    // height: auto;
    height: 73.4rem;
  }
}
