<section class="crew">
  <div class="crew__info">
    <div class="crew__content">
      <h2 class="crew__role">
        {{ crewMember().role }}
      </h2>
      <h3 class="crew__name">
        {{ crewMember().name }}
      </h3>
      <p class="crew__bio">
        {{ crewMember().bio }}
      </p>
    </div>

    <app-crew-nav />
  </div>

  <picture>
    <source [srcset]="crewMember().images.webp" type="image/webp" />
    <source [srcset]="crewMember().images.png" type="image/png" />
    <img
      [src]="crewMember().images.png"
      width="250"
      height="250"
      class="crew__image"
      [alt]="crewMember().name"
    />
  </picture>
</section>
