// Colors
$dark-blue: #0b0d17;
$light-blue: #d0d6f9;
$white: #fff;

// Typography
$font-bellefair: "Bellefair", serif;
$font-barlow: "Barlow Condensed", sans-serif;

// Typography Sizes
$fs-150: 15rem;
$fs-100: 10rem;
$fs-56: 5.6rem;
$fs-32: 3.2rem;
$fs-28: 2.8rem;
$fs-18: 1.8rem;
$fs-16: 1.6rem;
$fs-14: 1.4rem;

// Typography letter-spacing
$ls-h5: 0.475rem;
$ls-sh2: 0.235rem;
$ls-nav: 0.27rem;
