<section class="tech">
  <h1 class="subheading-1 tech__title">
    <span class="tech__title--op">03</span>Space launch 101
  </h1>
  <div class="tech-flex">
    <div class="tech__content">
      <app-tech-nav />

      <div class="tech__info">
        <h2 class="heading-4 tech__terminology">The terminology</h2>
        <h3 class="heading-3 tech__technology">{{ technology().name }}</h3>
        <p class="text tech__description">
          {{ technology().description }}
        </p>
      </div>
    </div>

    @if(technology().images.landscape !== ''){
    <img
      [srcset]="imageSrcset()"
      sizes="
    (max-width: 768px) 768px,
    calc(100vw - 80vw)
    "
      [src]="technology().images.landscape"
      width="500"
      height="200"
      class="tech__image"
      [alt]="technology().name"
    />
    }
  </div>
</section>
