@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

:host {
  display: block;
}

.tech {
  padding: v.$mg-24 0 4.8rem;

  @include m.mq("tablet") {
    padding: v.$mg-40 0;
  }

  @include m.mq("desktop") {
    padding: 0.8rem 0 4.8rem 17rem;
  }

  @include m.mq("desktop-wide") {
    max-width: 144rem;
    margin: 0 auto;
  }
}

.tech-flex {
  display: flex;
  flex-direction: column-reverse;

  @include m.mq("desktop") {
    flex-direction: row;
    gap: 3.2rem;
  }
}

.tech__title {
  text-align: center;
  text-transform: uppercase;
  color: v.$white;
  margin: 0 0 v.$mg-64;

  @include m.mq("tablet") {
    text-align: start;
    margin-left: 4rem;
    font-size: v.$fs-20;
  }

  @include m.mq("desktop") {
    margin-left: 0;
    font-size: v.$fs-28;
  }
}

.tech__title--op {
  opacity: v.$number-op;
  margin-right: v.$mg-24;
}

.tech__content {
  padding: v.$mg-32 v.$mg-24 0;

  @include m.mq("tablet") {
    padding: v.$mg-40;
    padding-bottom: 0;
  }

  @include m.mq("desktop") {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 6.4rem;
    padding: 0;
  }
}

.tech__info {
  margin-top: v.$mg-40;

  @include m.mq("tablet") {
    margin: v.$mg-40 8.8rem 0;
  }

  @include m.mq("desktop") {
    margin: 0;
  }
}

.tech__terminology {
  text-align: center;
  text-transform: uppercase;
  color: v.$white;
  opacity: v.$number-op-50;
  margin: 0 0 1.6rem;

  @include m.mq("desktop") {
    text-align: start;
  }
}

.tech__technology {
  text-align: center;
  text-transform: uppercase;
  color: v.$white;
  margin: 0 0 1.6rem;

  @include m.mq("desktop") {
    text-align: start;
  }
}

.tech__description {
  text-align: center;
  color: v.$light-blue;
  margin: 0;
  text-wrap: balance;

  @include m.mq("desktop") {
    text-align: start;
  }
}

.tech__image {
  object-fit: cover;
  width: 100%;
  height: auto;

  @include m.mq("desktop") {
    flex: 1;
    width: 60rem;
    height: 73rem;
  }

  @include m.mq("desktop") {
    object-fit: contain;
  }
}
