@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

:host {
  display: block;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  margin: 0;
  padding: 0;
  @include m.mq("tablet") {
    justify-content: center;
  }
}

.nav__link {
  position: relative;
  color: v.$light-blue;
  padding: 0.5rem 0 1.5rem;
  text-decoration: none;
  text-transform: uppercase;

  @include m.mq("tablet") {
    padding: 0.5rem 1.5rem 1.5rem;
  }
}

.nav__link-active {
  color: v.$white;
}

.nav__link:not(.nav__link-active)::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0;
  background-color: v.$white;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.nav__link:hover:not(.nav__link-active)::before {
  height: 0.3rem;
  opacity: 0.5;
}

.nav__link-active::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0.3rem;
  background-color: v.$white;
}
