@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

.color-db {
  color: v.$dark-blue;
}

.color-lb {
  color: v.$light-blue;
}

.color-w {
  color: v.$white;
}

// Preset 1
.heading-1 {
  font-family: v.$font-bellefair;
  font-weight: v.$fw-400;
  font-size: v.$fs-80;

  @include m.mq("desktop") {
    font-size: v.$fs-144;
  }
}

// Preset 2
.heading-2 {
  font-family: v.$font-bellefair;
  font-weight: v.$fw-400;
  font-size: v.$fs-56;

  @include m.mq("tablet") {
    font-size: v.$fs-80;
  }

  @include m.mq("desktop") {
    font-size: v.$fs-100;
  }
}

// Preset 3
.heading-3 {
  font-family: v.$font-bellefair;
  font-weight: v.$fw-400;
  font-size: v.$fs-24;

  @include m.mq("tablet") {
    font-size: v.$fs-40;
  }

  @include m.mq("desktop") {
    font-size: v.$fs-56;
  }
}

// Preset 4
.heading-4 {
  font-family: v.$font-bellefair;
  font-weight: v.$fw-400;
  font-size: v.$fs-18;

  @include m.mq("tablet") {
    font-size: v.$fs-24;
  }

  @include m.mq("desktop") {
    font-size: v.$fs-32;
  }
}

// Preset 5
.heading-5 {
  font-family: v.$font-barlow;
  font-weight: v.$fw-400;
  letter-spacing: v.$ls-h5;

  @include m.mq("tablet") {
    font-size: v.$fs-20;
  }

  @include m.mq("desktop") {
    font-size: v.$fs-28;
  }
}

// Preset 6
.subheading-1 {
  font-family: v.$font-barlow;
  font-weight: v.$fw-400;
  font-size: v.$fs-16;
  letter-spacing: v.$ls-preset-6;

  @include m.mq("desktop") {
    font-size: v.$fs-28;
  }
}

// Preset 7
.subheading-2 {
  font-family: v.$font-barlow;
  font-weight: v.$fw-400;
  font-size: v.$fs-14;
  letter-spacing: v.$ls-sh2;
}

// Preset 8
.nav-link {
  font-family: v.$font-barlow;
  font-weight: v.$fw-400;
  font-size: v.$fs-16;
  letter-spacing: v.$ls-nav;
}

// Preset 9
.text {
  font-family: v.$font-barlow;
  font-weight: v.$fw-400;
  font-size: v.$fs-15;
  line-height: v.$lh-180;

  @include m.mq("tablet") {
    font-size: v.$fs-16;
  }

  @include m.mq("desktop") {
    font-size: v.$fs-18;
  }
}

.menu-btn {
  margin: 0;
  border: none;
  background-color: unset;
  padding: 1.4rem;
}

.menu-btn-img {
  height: 2.1rem;
  width: 2.4rem;
}

.display-none {
  display: none;
}
