<section class="destination-section">
  <h1 class="subheading-1 destination__title">
    <span class="destination__num">01</span>Pick your destination
  </h1>

  <div class="destination__content">
    <picture>
      <source [srcset]="destination().images.webp" type="image/webp" />
      <source [srcset]="destination().images.png" type="image/png" />
      <img
        [src]="destination().images.png"
        width="410"
        height="480"
        class="destination__image"
        [alt]="destination().name"
      />
    </picture>

    <div class="destination__info">
      <app-nav-dest />
      <div class="destination__about">
        <h2 class="destination__destination heading-2">
          {{ destination().name }}
        </h2>
        <p class="destination__text text">
          {{ destination().description }}
        </p>
      </div>

      <div class="stats">
        <div class="stats__content">
          <h3 class="stats__title subheading-2">Avg. Distance</h3>
          <p class="subheading-1 stats__data">{{ destination().distance }}</p>
        </div>

        <div class="stats__content">
          <h3 class="stats__title subheading-2">Est. Travel Time</h3>
          <p class="subheading-1 stats__data">{{ destination().travel }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
