@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

:host {
  display: block;
}

.destination-section {
  padding: v.$mg-24;

  @include m.mq("tablet") {
    padding: v.$mg-40;
  }

  @include m.mq("desktop") {
    padding: 0.8rem 17rem 4.8rem;
  }

  @include m.mq("desktop-wide") {
    max-width: 144rem;
    margin: 0 auto;
  }
}

.destination__title {
  text-align: center;
  text-transform: uppercase;
  color: v.$white;
  margin: 0;

  @include m.mq("tablet") {
    font-size: v.$fs-20;
    text-align: start;
    letter-spacing: v.$ls-preset-6;
  }

  @include m.mq("desktop") {
    font-size: v.$fs-28;
  }
}

.destination__num {
  font-weight: bold;
  opacity: v.$number-op;
  margin-right: v.$mg-24;
}

// display: flex
.destination__content {
  @include m.mq("desktop") {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    margin: 13rem auto;
  }

  @include m.mq("desktop-wide") {
    gap: 10rem;
  }
}

.destination__image {
  margin: v.$mg-24 auto v.$mg-32;

  @include m.mq("tablet") {
    margin: 6.5rem auto 8.5rem;
    width: 30rem;
    height: 30rem;
  }

  @include m.mq("desktop") {
    flex: 1;
    margin: 0;
    width: 48rem;
    height: 48rem;
    object-fit: contain;
  }
}

.destination__info {
  @include m.mq("tablet") {
    padding: 0 8.8rem;
  }

  @include m.mq("desktop") {
    flex: 1;
    padding: 0 5rem;
  }
}

.destination__about {
  padding: v.$mg-24 0;
  border-bottom: solid 0.1rem v.$border;

  @include m.mq("desktop") {
    padding: 4rem 0;
  }
}

.destination__destination {
  color: v.$white;
  text-align: center;
  text-transform: uppercase;
  margin: 0;

  @include m.mq("desktop") {
    text-align: start;
  }
}

.destination__text {
  color: v.$light-blue;
  text-align: center;
  text-wrap: balance;
  margin: 0;

  @include m.mq("desktop") {
    text-align: start;
  }
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: v.$mg-24;
  padding-top: v.$mg-24;

  @include m.mq("tablet") {
    flex-direction: row;
    justify-content: center;
    gap: 12rem;
  }

  @include m.mq("desktop") {
    justify-content: flex-start;
    padding-top: 4rem;
  }
}

.stats__content {
  @include m.mq("desktop") {
    flex: 1;
  }
}

.stats__title {
  color: v.$light-blue;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 1.2rem;

  @include m.mq("desktop") {
    text-align: start;
  }
}

.stats__data {
  color: v.$white;
  font-size: v.$fs-28;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @include m.mq("desktop") {
    text-align: start;
  }
}
