@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

:host {
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: fixed;
  top: 0;
  right: -68%;

  width: 68%;
  height: 100vh;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5rem);

  transition: right 1s ease-in-out;
}

.nav-mobile-active {
  right: 0;
}

.nav__close-container {
  padding: 0.95rem 0;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.nav__close-img {
  object-fit: cover;
}

.nav__list {
  align-self: stretch;
  list-style: none;
  padding: 3.3rem 1.7rem;
  margin: 0;
}

.nav__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem;
}

.nav__link-active::before {
  content: "";
  position: absolute;
  top: 0;
  right: -2.7rem;
  bottom: 0;
  width: 0.5rem;
  background-color: v.$white;
}

.nav__link-number {
  font-weight: bolder;
}
