@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

:host {
  width: 100%;
  @include m.mq("desktop") {
    width: auto;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: fixed;
  top: 0;
  right: -68%;

  width: 68%;
  height: 100vh;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5rem);

  z-index: 100;
  transition: right 1s ease-in-out;

  @include m.mq("tablet") {
    position: static;
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    background-color: rgb(255 255 255 / 0.05);
  }

  @include m.mq("desktop") {
    padding: 0 5rem 0 14.5rem;
  }
}

.nav-mobile-active {
  right: 0;
}

.nav__close-container {
  padding: 0.95rem 0;

  @include m.mq("tablet") {
    display: none;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;

  @include m.mq("tablet") {
    flex-direction: row;
    justify-content: flex-end;
  }

  @include m.mq("desktop") {
    gap: 2rem;
  }
}

.nav__close {
  @include m.mq("tablet") {
    display: none;
  }
}

.nav__close-img {
  object-fit: cover;
}

.nav__list {
  align-self: stretch;
  list-style: none;
  padding: 3.3rem 1.7rem;
  margin: 0;

  @include m.mq("tablet") {
    padding: v.$mg-24 4rem;
  }

  @include m.mq("desktop") {
    position: relative;
    gap: 2rem;
    padding: v.$mg-24 0;
  }
}

.nav__list::before {
  @include m.mq("desktop") {
    content: "";
    position: absolute;
    bottom: 47.5%;
    left: -90%;
    height: 0.1rem;
    width: 80%;
    background-color: rgb(255 255 255 / 0.35);
  }

  @include m.mq("desktop-wide") {
    width: 60rem;
    left: -125%;
  }
}

.nav__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem;
}

.nav__link-active::before {
  content: "";
  position: absolute;
  top: 0;
  right: -2.7rem;
  bottom: 0;
  width: 0.5rem;
  background-color: v.$white;

  @include m.mq("tablet") {
    top: unset;
    bottom: -2.4rem;
    right: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
  }
}

.nav__link-number {
  font-weight: bolder;

  @include m.mq("desktop") {
    margin-right: 0.25rem;
  }
}
