<main class="home-page">
  <div class="home__info">
    <h1 class="home__title heading-1">
      <span class="home__title-span subheading-1">
        So, you want to travel to
      </span>
      Space
    </h1>
    <p class="home__text text">
      Let’s face it; if you want to go to space, you might as well genuinely go
      to outer space and not hover kind of on the edge of it. Well sit back, and
      relax because we’ll give you a truly out of this world experience!
    </p>
  </div>

  <a
    [routerLink]="['/destination']"
    routerLinkActive="router-link-active"
    class="home__explore color-db heading-4"
    >Explore</a
  >
</main>
