@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

:host {
  display: block;
}

.home-page {
  padding: 2.4rem;
  text-align: center;
}

.home__title {
  text-transform: uppercase;
  color: v.$white;
  margin: 0;
}

.home__title-span {
  display: block;
  color: v.$light-blue;
  margin-bottom: 2.4rem;
}

.home__text {
  text-wrap: balance;
  color: v.$light-blue;
  margin: 2.4rem 0 0;
}

.home__explore {
  margin: 12rem auto;
  display: grid;
  place-content: center;
  width: 14.4rem;
  height: 14.4rem;
  border-radius: 50%;
  background-color: v.$white;
  text-transform: uppercase;
  text-decoration: none;
}
