@use "abstracts/variables" as v;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: v.$dark-blue;
}

a {
  display: block;
}

img {
  display: block;
  max-width: 100%;
}
